<div id="<%= dom_id episode %>">
  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= episode.link %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= episode.duration %>
  </p>

  <p>
    <strong>Podcast:</strong>
    <%= episode.podcast_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= episode.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= episode.size %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= episode.published_at %>
  </p>

</div>
