<p style="color: green"><%= notice %></p>

<div class="container text-center">
    <h1 class="mt-5">Save Any Podcast Now</h1>
    <%= render "add", podcast: Podcast.new %>
</div>
<div class="container mt-5">
    <h1>Recently Added Podcasts</h1>
    <div class="row">
       <div id="podcasts">
        <% @podcasts.each do |podcast| %>
          <!-- Loop the card component for 8-12 times -->
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card mt-3">
              <img src="<%= podcast.image %>" class="card-img-top thumbnail" alt="podcast">
              <div class="card-body">
                <h5 class="card-title"><%= podcast.title %></h5>
                <a href="<%= podcast_path(podcast) %>" class="btn btn-primary">View Podcast</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
