<p style="color: green"><%= notice %></p>

<div class="container text-center">
    <h1 class="mt-5">Save Any Podcast Now</h1>
    <%= render "add", podcast: Podcast.new %>
</div>
<div class="container mt-5">
    <h1>Recently Added Podcasts</h1>
    <div class="row">
       <div id="podcasts" class="podcast-container">
        <% @podcasts.each do |podcast| %>
          <!-- Loop the card component -->
          <div class="podcast-item">
            <div class="">
              <img src="<%= podcast.image %>" class="card-img-top" alt="podcast">
              <div class="p-2">
                <h5 class="p-3"><%= podcast.title %></h5>
                <a href="<%= podcast_path(podcast) %>" class="btn btn-primary">View Podcast</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
