<p style="color: green"><%= notice %></p>

<div class="container">
  <%= render @podcast %>
</div>
<div class="container">
   <% @episodes.each do |episode| %>
    <%= render episode %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this podcast", edit_podcast_path(@podcast) %> |
  <%= link_to "Back to podcasts", podcasts_path %>

  <%= button_to "Destroy this podcast", @podcast, method: :delete %>
</div>
